@using BikeShop.Models
@model IEnumerable<BikeShop.Models.Item>

<br />
<br />
<h2>Welcome to the bike shop</h2>

<p>@Session["LackOfFundsMessage"]</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Price)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Quantity)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr class="@item.ItemName">
            <td>
                @Html.DisplayFor(m => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Description)
            </td>
            <td>
                @Html.DisplayFor(m => item.Price)
            </td>
            <td>
                @Html.DisplayFor(m => item.Quantity)
            </td>
            <td>
                @if (Session["LoggedInUser"] != null)
                {
                    @*
                        @Html.ActionLink("Buy", "Buy", new {id=item.ID })
                    *@

                    <form action="~/Home/Buy" method="post">
                        <input type="hidden" name="ItemID" value="@item.ID" />
                        <input type="submit" value="One-Click, No Confirmation Buy">
                    </form>

                }
            </td>
        </tr>
    }
</table>





